{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <h1>New products</h1>
    <hr>
    <br>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    
   
{% endblock %}
